@import url('https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&family=Orbitron:wght@400..900&family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* & ##########  Global Scroll bar  #############  */
::-webkit-scrollbar {
  width: 6px; 
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #3b3b3b; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #292524; 
}
/* & ########## Global  Scroll bar  #############  */
/* & ########## Hotels Scroll bar  #############  */
#Hotels::-webkit-scrollbar {
  width: 6px;
}

#Hotels::-webkit-scrollbar-track {
  background: transparent; 
}

#Hotels::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 6px;
}

#Hotels::-webkit-scrollbar-thumb:hover {
  background-color: #646464; 
}

/* Move scrollbar to the left */
#Hotels {
  direction: rtl;
  scrollbar-gutter: stable;
}

#Hotels > * {
  direction: ltr;
}

/* & ########## Memory Game   #############  */
.front{
  transform: rotateY(0deg);
  }
  .back{
  transform: rotateY(180deg);
  }
  .fliped{
  transform: rotateY(180deg);
  }
  .faild{
  /* transform: rotateY(180deg); */
  }
  .successed{
  transform: rotateY(180deg);
  
  }
/* & ########## Memory Game   #############  */
/* & ########## Hotels Scroll bar  #############  */

:root {
  --background: #494949;
  --foreground: #bdbdbd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #363636;
    --foreground: #a5a5a5;
  }
}

body {
  background-color: rgb(19, 18, 18) ;
  font-family: Arial, Helvetica, sans-serif;
  width: 100dvw;
  overflow-x: hidden;
  user-select: none;
}

.font-orbitron {
  font-family: theme('fontFamily.orbitron');
}

/*  * start CSS customization */
/* .custom-gradient {
  border-top-width: 2px;
  transition-duration: 0.5s;
  border-image: linear-gradient(to left , black 50% , #f43f5e 60%  ) 1;
} */
/*  * start Tailwind customization */
@layer utilities {
  /* & Global */
    .page {
      @apply flex-center min-h-screen bg-ai-gradient py-[100px]
    }
    .global-component {
      @apply w-[95%] md:w-[80%] max-w-[800px] rounded-lg p-5 border-[1px] border-stone-900 shadow-2xl shadow-stone-800 mx-auto min-h-[500px]
    }
    .button {
      @apply duration-500 py-2 px-4 bg-sky-400 h-fit hover:bg-transparent hover:border-sky-400 hover:text-sky-400 border border-transparent  rounded-lg flex-center text-stone-900 font-bold font-yujiMai
    }
    .flex-center {
      @apply flex justify-center items-center
    }
  /* & Global */
  /* & AI */
  .global-div{
    @apply w-full px-2 py-3 
  }
  .btn {
    @apply duration-500 h-fit bg-indigo-700  hover:bg-indigo-500 rounded-lg flex-center px-3 py-2 text-white
  }
    .icon {
      @apply duration-500 cursor-pointer
    }
    .select {
      @apply  cursor-pointer px-3 py-2 duration-500 bg-indigo-700 text-white hover:bg-indigo-500 rounded-lg m-2 min-w-[100px] h-fit
    }
  /* & AI */
  /* & Translation */
    .textarea {
      @apply h-[300px] bg-transparent w-[50%] text-sky-400 font-bold p-3 focus:outline-none selection:outline-none 
    } 
    .language-select {
      @apply  cursor-pointer px-3 py-2 duration-500 bg-indigo-700 text-white hover:bg-indigo-900 rounded-lg m-2 min-w-[100px] h-fit
    }
    .config {
      @apply  flex-center !justify-between w-full max-w-[300px] md:w-[40%] 
    } 
    .config-icon {
      @apply flex-center cursor-pointer w-full md:w-[40%] text-[25px] text-blue-600 hover:scale-[1.2] duration-700 
    } 
    .config-icons-div {
      @apply flex gap-x-3 
    } 
  /* & Translation */
  /* & Payment */
    .payment-feild {
      @apply text-stone-900 px-3 py-2 focus:outline-none rounded-xl
    }
    .payment-lable {
      @apply text-stone-900 block
    }
    .lable-div {
      @apply p-0
    }
  /* & Payment */
  /* & Music  */
    .music-card {
      @apply  rounded-lg w-[90%] max-w-[400px] border border-stone-900 bg-black/50 
    }
    .config-icons {
      @apply  duration-500 text-rose-800 hover:text-rose-400 cursor-pointer text-[25px] 
    }
  /* & Music  */
  /* & Speed typing */
  .animate-spin-once {
    animation: spin 0.5s linear;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  /* & Speed typing */
  /* & Game */
    /* & Hang-man */
      .hang-man-model {
        @apply absolute duration-[500ms] bg-stone-800
      }
      .option {
          @apply  cursor-pointer bg-stone-800 font-bold  w-[100px] text-stone-600
      }
      .hint-icon {
        @apply  absolute min-w-[122px] duration-[500ms] top-[130%] left-1/2 transform -translate-x-1/2 bg-stone-600 text-stone-800 font-bold text-xs px-3 py-1 rounded-md shadow-lg
      }
    /* & Hang-man */
    /* & Memory gam */
        .preserve-3d {
          transform-style: preserve-3d;
      }
      .backface-hidden {
          backface-visibility: hidden;
      }
      .rotate-y-180 {
          transform: rotateY(180deg);
      }
      .rotate-y-0 {
          transform: rotateY(0deg);
      }

    /* & Memory gam */
  /* & Game */
  /* & Name Generation */
    .More-options {
      @apply cursor-pointer hover:pl-[20px] hover:text-sky-600 duration-[300ms] w-[100%] flex flex-center py-[5px]   
    }
    .drop-dev {
      @apply w-[100%] py-1 border-b border-sky-500 rounded-b-[2px] relative 
    }
    .drop-btn {
        @apply  font-bold p-1 px-2 text-sky-400 flex flex-center hover:text-sky-700 hover:pl-[20px] duration-[300ms] w-[100%] 
    }
    .drop-list {
        @apply  duration-[500ms] overflow-hidden w-[100%] rounded-b-[10px] bg-black text-sky-400 font-bold relative flex flex-wrap 
    }
      .backGround-icons {
          @apply absolute text-stone-800/50  dark:text-white/10 duration-[500ms]
      }
      .schema {
          @apply md:w-[80%] w-[90%]  dark:bg-black/50  duration-[500ms] min-h-[500px] mt-[20px] rounded-[30px] border-[1px] border-white/20 bg-black/50 mx-auto flex-center
      }
      .schemaNav {
          @apply md:w-[80%] w-[90%] dark:bg-black/50 duration-[500ms] h-[100px] mt-[20px] rounded-[30px] border-[1px] border-white/20 bg-black/50 mx-auto flex-center
      }
      /* .container {
          @apply w-[100%] mx-auto max-w-[1000px]
      } */
      .text-cliping {
          @apply h-[100px] max-w-[500px] mx-auto font-black text-[35px] justify-center items-center flex bg-gradient-to-l from-sky-400/70 via-rose-400/70 to-sky-500/70  dark:from-green-400/70 dark:via-rose-500/70 duration-[500ms] dark:to-green-500/70 text-transparent text-clip bg-clip-text
      }
  /* & Name Generation */
  /* & Courses */
  
  .container {
    @apply  px-2 md:px-10 max-w-[1000px] mx-auto 
    md:grid md:grid-cols-3 md:grid-rows-4 md:auto-rows-auto gap-x-4  ;
  }
  .video {
    @apply   md:mb-10 w-full p-5 flex flex-wrap items-center justify-center gap-2  ;
  }
  .course-materials {
    @apply  w-full p-5 col-span-2 col-start-1 col-end-3 row-span-1 row-start-2 row-end-3 ;
  }
  .course-materials-p {
    @apply flex justify-between items-center gap-2 md:py-4 py-2 border-b last:border-none
  }
  .course-topics {
    @apply   w-fit px-6 md:px-0 py-6 rounded-lg col-span-1 col-start-3 col-end-4 row-span-4  ;
  }
  .comments {
    @apply    w-full col-span-2 col-start-1 col-end-3 row-span-2 row-start-3 row-end-5 p-4 ;
  }
  .video-icons {
    @apply flex items-center justify-center hover:text-teal-500 duration-500  border border-stone-600 w-[42px] h-[42px] rounded-full 
}

  .pop-up {
    @apply w-[80%] h-[80%] bg-black flex 
  }
  /* & Courses */

}
