@import url('https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&family=Orbitron:wght@400..900&family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* & ##########  Global Scroll bar  #############  */
::-webkit-scrollbar {
  width: 6px; 
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #3b3b3b; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #292524; 
}
/* & ########## Global  Scroll bar  #############  */
/* & ########## Hotels Scroll bar  #############  */
#Hotels::-webkit-scrollbar {
  width: 6px;
}

#Hotels::-webkit-scrollbar-track {
  background: transparent; 
}

#Hotels::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 6px;
}

#Hotels::-webkit-scrollbar-thumb:hover {
  background-color: #646464; 
}

/* Move scrollbar to the left */
#Hotels {
  direction: rtl;
  scrollbar-gutter: stable;
}

#Hotels > * {
  direction: ltr;
}

/* & ########## Hotels Scroll bar  #############  */

:root {
  --background: #494949;
  --foreground: #bdbdbd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #363636;
    --foreground: #a5a5a5;
  }
}

body {
  background-color: rgb(19, 18, 18) ;
  font-family: Arial, Helvetica, sans-serif;
  width: 100dvw;
  overflow-x: hidden;
  user-select: none;
}

.font-orbitron {
  font-family: theme('fontFamily.orbitron');
}

/*  * start CSS customization */
/* .custom-gradient {
  border-top-width: 2px;
  transition-duration: 0.5s;
  border-image: linear-gradient(to left , black 50% , #f43f5e 60%  ) 1;
} */
/*  * start Tailwind customization */
@layer utilities {
  /* & Global */
    .page {
      @apply flex-center min-h-screen bg-ai-gradient py-[100px]
    }
    .global-component {
      @apply w-[95%] md:w-[80%] max-w-[800px] rounded-lg p-5 border-[1px] border-stone-900 shadow-2xl shadow-stone-800 mx-auto min-h-[500px]
    }
    .button {
      @apply duration-500 py-2 px-4 bg-sky-400 h-fit hover:bg-transparent hover:border-sky-400 hover:text-sky-400 border border-transparent  rounded-lg flex-center text-stone-900 font-bold font-yujiMai
    }
    .flex-center {
      @apply flex justify-center items-center
    }
  /* & Global */
  /* & AI */
  .global-div{
    @apply w-full px-2 py-3 
  }
  .btn {
    @apply duration-500 h-fit bg-indigo-700  hover:bg-indigo-500 rounded-lg flex-center px-3 py-2 text-white
  }
    .icon {
      @apply duration-500 cursor-pointer
    }
    .select {
      @apply  cursor-pointer px-3 py-2 duration-500 bg-indigo-700 text-white hover:bg-indigo-500 rounded-lg m-2 min-w-[100px] h-fit
    }
  /* & AI */
  /* & Translation */
    .textarea {
      @apply h-[300px] bg-transparent w-[50%] text-sky-400 font-bold p-3 focus:outline-none selection:outline-none 
    } 
    .language-select {
      @apply  cursor-pointer px-3 py-2 duration-500 bg-indigo-700 text-white hover:bg-indigo-900 rounded-lg m-2 min-w-[100px] h-fit
    }
    .config {
      @apply  flex-center !justify-between w-full max-w-[300px] md:w-[40%] 
    } 
    .config-icon {
      @apply flex-center cursor-pointer w-full md:w-[40%] text-[25px] text-blue-600 hover:scale-[1.2] duration-700 
    } 
    .config-icons-div {
      @apply flex gap-x-3 
    } 
  /* & Translation */
  /* & Payment */
    .payment-feild {
      @apply text-stone-900 px-3 py-2 focus:outline-none rounded-xl
    }
    .payment-lable {
      @apply text-stone-900 block
    }
    .lable-div {
      @apply p-0
    }
  /* & Payment */
  /* & Music  */
    .music-card {
      @apply  rounded-lg w-[90%] max-w-[400px] border border-stone-900 bg-black/50 
    }
    .config-icons {
      @apply  duration-500 text-rose-800 hover:text-rose-500 cursor-pointer text-[25px] 
    }
  /* & Music  */
  /* & Speed typing */
  .animate-spin-once {
    animation: spin 0.5s linear;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  /* & Speed typing */

}
